<template lang="pug">
</template>

<script>
// import VueCharts from 'vue-chartjs'
// import { Bar, Line } from 'vue-chartjs'

// export default {
//   extends: Line,
//   props: ['chartdata', 'options'],
//   mounted () {
//     this.renderChart(this.chartdata, this.options)
//   }
// }
</script>
