<template lang="pug">
section
  .c-searchPanel
    input.c-searchPanel--input(type="text" placeholder="Search" v-model="searchPersons" @keyup="filterPersons")

  .c-person--table
    div 
      a(@click.prevent="sortBy($event, 'alphabet', 'name')" href="0#" data-title="ascending" ) Name
    div
      a(@click.prevent="sortBy($event, 'numeric', 'age')" href="0#" data-title="ascending") Age
    div 
      a(@click.prevent="sortBy($event, 'alphabet', 'gender')" href="0#" data-title="ascending" ) Gender
    div 
      a(@click.prevent="sortBy($event, 'alphabet', 'eyeColor')" href="0#" data-title="ascending" ) Eye colour
    div 
      a(@click.prevent="sortBy($event, 'alphabet', 'pet')" href="0#" data-title="ascending" ) Pet
    div 
      a(@click.prevent="sortBy($event, 'alphabet', 'fruit')" href="0#" data-title="ascending" ) Fruit
    div 
      span Latitude
    div 
      span Longitude
    div
      button(@click="this.addModal = true") Add

  template(v-if="persons.length")
    person(v-for="person in paginatedPersons" :key="person._id" :person="person")
    ul.pagination
      li
        a(@click.prevent="gotoPage(currentPage - 1)" href="#0" v-if="currentPage > 1") &lt;
      li(v-for="page in pages")
        a(@click.prevent="gotoPage(page)" href="#0" :class="page === currentPage ? 'active' : null") {{ page }}
      li
        a(@click.prevent="gotoPage(currentPage + 1)" href="#0" v-if="currentPage < pages.length") >
  template(v-else)
    pre No result found

  .modal(v-if="addModal")
    .modal__content
      add-person(@cancel="this.addModal = false" @add="this.addModal = false")
</template>

<script>
import store from '@/store/store.js'
import Person from '@/components/Person'
import AddPerson from '@/components/AddPerson'
import { nanoid } from 'nanoid'
import { mapGetters } from 'vuex'

export default {
  name: 'Table',
  components: {
    Person,
    AddPerson
  },

  mounted() {
    this.setPages();
  },

  updated() {

  },

  data: () => {
    return {
      pages: [],
      pageSize: 10,
      currentPage: 1,
      searchPersons: '',
      addModal: false,
      persons: store.state.persons
    }
  },

  methods: {
    gotoPage(pageNum) {
      this.persons = store.state.persons;
      this.currentPage = pageNum;
    },

    setPages () {
      this.pages.length = 0;
      let numberOfPages = Math.ceil(this.persons.length / this.pageSize);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },

    paginate (persons) {
      let page = this.currentPage;
      let pageSize = this.pageSize;
      let from = (page * pageSize) - pageSize;
      let to = (page * pageSize);
      return  persons.slice(from, to);
    },

    sortBy(event, sortType, key, ) {
      const order = event.target.getAttribute('data-title') === 'ascending' ? true : false;
      if(sortType === 'numeric') {
        this.persons = this.paginatedPersons.sort((a, b) => {
          const x = a[key] - b[key];
          const y = b[key] - a[key];
          return (order ? x : y)
        });
      }

      else if(sortType === 'alphabet') {
        this.persons = this.paginatedPersons.sort((a, b) => {
          const x = a[key] ? a[key].localeCompare(b[key]) : a.preferences[key].localeCompare(b.preferences[key]);
          const y = b[key] ? b[key].localeCompare(a[key]) : b.preferences[key].localeCompare(a.preferences[key]);
          return (order ? x : y)
        });
      }

      event.target.setAttribute('data-title', (order ? 'descending' : 'ascending'));
    },

    filterPersons() {
      const search = this.searchPersons.toLowerCase().trim();
      if (!search) return this.paginatedPersons;
      this.persons = this.paginatedPersons.filter(p => p.name.toLowerCase().indexOf(search) > -1);
    },

    savePerson(event) {
      const formData = Object.fromEntries(new FormData(event.target));
      const newPersonData = {
        _id: nanoid(24),
        age: Number(formData.age),
        eyeColor: formData.eyeColor,
        gender: formData.gender,
        location: {
          latitude: Number(formData.latitude), 
          longitude: Number(formData.longitude)
        },
        name: formData.name,
        preferences: {
          pet: formData.pet, 
          fruit: formData.fruit
        },
      };

      store.dispatch('addPerson', newPersonData);
      this.setPages();
      this.addModal = false;
    },

    setDropdown(event, ref) {
      this.$refs[ref].value = event.target.value;
    }
  },

  computed: {
    paginatedPersons () {
      return this.paginate(this.persons);
    },

    ...mapGetters([
      'pets',
      'fruits',
      'eyeColors',
    ])
  }
}
</script>

<style lang="scss">
.c-searchPanel {
  padding: 10px;
  color: white;
  margin-top: 2px;
  background-color: #002567;

  &__wrapper {
    margin-top: 10px;
  }

  &--input {
    margin: 0;
    padding: 0;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #777777;
    width: calc(100% - 20px);

    &::placeholder {
      opacity: 0.4;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 15px 0;
  padding: 0;
  justify-content: center;
  list-style-type: none;

  li {
    a {
      color: white;
      font-weight: 500;
      padding: 5px 15px;
      margin-right: 1px;
      text-decoration: none;
      background-color: #961540;
      &:hover { background-color: #d60047; } 
      &.active { background-color: #5a2b3b; }
    }
  }
}

.c-person {
  &--table {
    font-weight: 700;
    padding: 8px 10px;
    color: white !important;
    background-color: #414141 !important;

    a { color: white; }
    button { padding: 5px 20px; }

    & > div {
      padding: 0 10px;
      line-height: 28px;
    }
  }
}

.form-row {
  padding: 8px 10px;
  color: white;
  line-height: 28px;
  display: inline-block;

  &.dropdown {
    position: relative;

    select {
      width: 100%;
    }

    & > * {
      height: 28px;
      box-sizing: border-box;
    }
    
    input {
      position: absolute;
      width: calc(100% - 40px);
    }
  }
}

.form {
  input {
    font-size: 0.96em;
    padding: 5px 8px;
    width: 80%;
    border: none;
  }

  select {
    padding: 5px 8px;
    border: none;
  }

  button {
    padding: 5px 20px;
  }

  &.addPerson {
    display: grid;
    grid-template-columns: 200px;;

    .form-row {
      position: relative;
      margin-top: 10px;
      width: 100%;
    }
    select, input {
      border: 1px solid #9b9b9b;
    }

    label {
      top: -20px;
      color: #4b4b4b;
      font-size: 15px;
      font-weight: 700;
      position: absolute;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);

  h3 {
    font-size: 25px;
  }

  &__content {
    width: 300px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    form { width: 100%; }
  }
}
</style>
