<template lang="pug">
section
  h3 Add new person
  form.form.addPerson.c-person--edit(@submit.prevent="savePerson")
    .form-row
      label Name
      input(type="text" name="name")
    
    .form-row
      label Age
      select(name="age")
        option(v-for="age in 100" :value="age") {{ age }}
    
    .form-row
      label Gender
      select(name="gender")
        option(value="male") Male
        option(value="female") Female
    
    .form-row.dropdown
      label Eye Colour
      input(type="text" name="eyeColor" ref="eyeColor")
      select(name="eyeColors" @change="setDropdown($event, 'eyeColor')")
        option
        option(v-for="eyeColor in eyeColors" :value="eyeColor") {{ eyeColor }}
    
    .form-row.dropdown
      label Pet
      input(type="text" name="pet" ref="pet")
      select(name="pets" @change="setDropdown($event, 'pet')")
        option
        option(v-for="pet in pets" :value="pet") {{ pet }}
    
    .form-row.dropdown
      label Fruit
      input(type="text" name="fruit" ref="fruit")
      select(name="fruits" @change="setDropdown($event, 'fruit')")
        option
        option(v-for="fruit in fruits" :value="fruit") {{ fruit }}

    .form-row
      label Latitude
      input(type="text" name="latitude")
    
    .form-row 
      label Longitude
      input(type="text" name="longitude")

    .form-row
      button.save(type="submit") Save
      | &nbsp;
      button.cancel(type="button" @click="this.$emit('cancel')") Cancel
</template>

<script>
import store from '@/store/store.js'
import { nanoid } from 'nanoid'
import { mapGetters } from 'vuex'

export default {
  name: 'add-person',
  data: () => {
    return {
      addModal: false,
    }
  },

  methods: {
    savePerson(event) {
      const formData = Object.fromEntries(new FormData(event.target));
      const newPersonData = {
        _id: nanoid(24),
        age: Number(formData.age),
        eyeColor: formData.eyeColor,
        gender: formData.gender,
        location: {
          latitude: Number(formData.latitude), 
          longitude: Number(formData.longitude)
        },
        name: formData.name,
        preferences: {
          pet: formData.pet, 
          fruit: formData.fruit
        },
      };

      store.dispatch('addPerson', newPersonData);
      this.$emit('add');
      this.addModal = false;
    },

    setDropdown(event, ref) {
      this.$refs[ref].value = event.target.value;
    }
  },

  computed: {
    ...mapGetters([
      'pets',
      'fruits',
      'eyeColors',
    ])
  }
}
</script>
