<template lang="pug">
.c-person
  .form.c-person--saved(v-if="!updating")
    .form-row
      strong {{ person.name }}
    .form-row {{ person.age }}
    .form-row {{ person.gender }}
    .form-row {{ person.eyeColor }}
    .form-row {{ person.preferences.pet }}
    .form-row {{ person.preferences.fruit }}
    .form-row {{ person.location.latitude }}
    .form-row {{ person.location.longitude }}
    .form-row
      button.edit(@click="editPerson") Edit

  form.form.c-person--edit(v-else ref="personForm" @submit.prevent="savePerson")
    .form-row
      input(type="text" :value="person.name" name="name")
    .form-row
      select(name="age" :value="person.age")
        option(v-for="age in 100" :value="age") {{ age }}
    .form-row
      select(name="gender" :value="person.gender")
        option(value="male") Male
        option(value="female") Female
    .form-row.dropdown
      input(type="text" :value="person.eyeColor" name="eyeColor" ref="eyeColor")
      select(name="eyeColors" :value="person.eyeColor" @change="setDropdown($event, 'eyeColor')")
        option(v-for="eyeColor in eyeColors" :value="eyeColor") {{ eyeColor }}
    .form-row.dropdown
      input(type="text" :value="person.preferences.pet" name="pet" ref="pet")
      select(name="pets" :value="person.preferences.pet" @change="setDropdown($event, 'pet')")
        option(v-for="pet in pets" :value="pet") {{ pet }}
    .form-row.dropdown
      input(type="text" :value="person.preferences.fruit" name="fruit" ref="fruit")
      select(name="fruits" :value="person.preferences.fruit" @change="setDropdown($event, 'fruit')")
        option(v-for="fruit in fruits" :value="fruit") {{ fruit }}
    .form-row
      input(type="text" :value="person.location.latitude" name="latitude")
    .form-row
      input(type="text" :value="person.location.longitude" name="longitude")
    .form-row
      button.save(type="submit") Save
</template>

<script>
import store from '@/store/store.js';
import { mapGetters } from 'vuex'

export default {
  name: 'person',
  props: {
    person: {
      type: Object,
      default() {
        return {}
      }
    }
  },

  data: () => {
    return {
      updating: false
    }
  },

  methods: {
    editPerson() {
      this.updating = true;
    },

    savePerson(event) {
      const formData = Object.fromEntries(new FormData(event.target));
      const newPersonData = {
        _id: this.person._id,
        age: Number(formData.age),
        eyeColor: formData.eyeColor,
        gender: formData.gender,
        location: {
          latitude: Number(formData.latitude), 
          longitude: Number(formData.longitude)
        },
        name: formData.name,
        preferences: {
          pet: formData.pet, 
          fruit: formData.fruit
        },
      };

      store.dispatch('updatePerson', newPersonData);
      this.updating = false;
    },

    setDropdown(event, ref) {
      this.$refs[ref].value = event.target.value;
    }
  },

  computed: {
    ...mapGetters([
      'pets',
      'fruits',
      'eyeColors',
    ])
  }
}
</script>

<style lang="scss">
.c-person {
  &:nth-child(odd) { 
    border: 1px solid #961540; 
    background-color: #961540; 
  }
  
  &:nth-child(even) { 
    border: 1px solid #5a2b3b;
    background-color: #5a2b3b; 
  }

  &--saved, &--edit, &--table {
    display: grid;
    grid-gap: 10px;
    margin-top: 2px;
    grid-template-columns: 0.7fr 70px 100px 100px 100px 120px 120px 120px 0.25fr;
  }
}
</style>
