<template lang="pug">
header
  .container
    .brand Frontend Picasso
    ul
      li(v-for="item in ['Table', 'Charts', 'Maps']")
        router-link(tag="a" :to="item.toLowerCase()") {{ item }}

main
  .container
    router-view
footer
  .container footer
</template>

<script>

export default {
  name: 'App',
  data: () => {
    return {
    }
  },  
}
</script>

<style lang="scss">
header {
  top: 0;
  z-index: 999;
  position: sticky;
  background-color: #002567;

  .brand {
    color: #002567;
    font-weight: 500;
    padding: 15px 40px;
    display: inline-block;
    margin: 10px 10px 10px 0;
    background-color: white;
    box-shadow: -3px -3px 0px 1px rgba(158,146,158,1);
  }

  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  li {
    display: inline-block;
    list-style-type: none;

    a {
      color: white;
      display: block;
      font-weight: 700;
      padding: 10px 50px;
      text-decoration: none;
    }
  }
}
</style>
